.gradient-background {
  background: rgb(255, 154, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 154, 0, 1) 0%,
    rgba(224, 133, 14, 1) 48%,
    rgba(175, 49, 11, 1) 100%
  );
}
.mofli-text {
  font-family: "agbalumo", cursive;
}
.mof-pic {
  border-radius: 70px;
}
.mof-text {
  font-size: 1.3rem;
}

.hr-orange {
  border: 0;
  height: 12px;
  box-shadow: inset 0 12px 12px -12px orange;
}
.sec-pad {
  padding-bottom: 2px;
}
.thumb {
  width: 100%;
  height: auto;
  cursor: pointer;
}
#fullSizeImage {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
#fullSizeImage img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

